<button type="button" class="btn btn-success btn-sm m-1">Tambah</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos; let i = index">
            <td>#</td>
            <td>{{todo.name}}</td>
            <td>{{todo.description}}</td>
            <td>
                <button type="button" class="btn btn-warning btn-sm m-1">Update</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteTodo(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>