<div class="row">
  <div class="col-md-4 mx-auto shadow-lg mb-3 rounded">
    <h4 class="text-center">To Do</h4>
    <form [formGroup]="todoForm" action="POST"  (ngSubmit)="addTodo(todoForm.value)">
      <input class="form-control mb-3" type="text" placeholder="Enter Id" formControlName="id" name="id" aria-label="default input example" hidden>
      <input class="form-control mb-3" type="text" placeholder="Enter Name" formControlName="todo" name="name" aria-label="default input example">
      <input class="form-control mb-3" type="text" placeholder="Enter Description" formControlName="description" name="description" aria-label="default input example">
      <div class="text-center mb-3">
        <button class="btn btn-sm btn-warning me-2" type="button" routerLink="">cancel</button>
        <button class="btn btn-sm btn-primary" type="submit">submit</button>
      </div>
    </form>
  </div>
</div>
<!--<app-todo-list (sendEvent)="receivedData($event)"></app-todo-list>-->
